// Body
$body-bg: #f8fafc;
// Shadow
$enable-shadows: true;

// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-size-base: 0.9rem;

// button
$btn-padding-y: .375rem;
$btn-padding-x: 1.25rem;
$btn-font-size: $font-size-base * 0.9;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
